{% block content %}
<h1>{{ person.username }}님의 프로필</h1>

{% with followings=person.followings.all followers=person.followers.all %}
  <div>
    <div class="follow-count">
      팔로잉 : {{ followings|length }} / 팔로워 : {{ followers|length }}
    </div>
    {% if request.user != person %}
      <div>
        <form>
          {% csrf_token %}
          {% if user in followers %}
            <button>언팔로우</button>
          {% else %}
            <button>팔로우</button>
          {% endif %}
        </form>
      </div>
    {% endif %}
  </div>
{% endwith %}

{% block script %}
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script>
    const form = document.querySelector('form')
    const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value
    form.addEventListener('submit', function (event) {
      event.preventDefault()
      const userId = event.target.dataset.userId

      axios({
        method: 'POST',
        headers: {'X-CSRFToken': csrftoken},
        url: `http://127.0.0.1:8000/accounts/${userId}/follow/`,
      })
      .then(response => {
        const followBtn = document.querySelector("button")
        const isFollowed = response.data.isFollowed
        const followings_count = response.data.followings_count
        const followers_count = response.data.followers_count
        const followCountDiv = document.querySelector('.follow-count')
      if (isFollowed === true) {
        followBtn.innerText = '언팔로우'
      } else {
        followBtn.innerText = '팔로우'
      }
      followCountDiv.innerText = `팔로잉 수 : ${followings_count} / 팔로워 수 : ${followers_count}`
      })
    })
  </script>
{% endblock script %}